<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>¡BIENVENIDO A LA TIENDA!</title>
</head>

<body>
<h1>DUKI NUKI!</h1>

<h3>La tienda donde se ríe del traductor de google!</h3>
<p>My name is duki nuki, i'm here to kick some ass, and chew some gum. And i'm out of gum.</p>
</body>

</html>
