/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'bootstrap';

header {
    color: rgb(175, 196, 235);
    font-size: 20px;
    text-align: center;
    height: 50px;
    background-color: darkslateblue;
    box-shadow: 1px 1px rgb(5, 5, 83);
    vertical-align: middle;
}

aside {
    margin: 4px;
    padding: 10px;
    float:left;width:20%;
    border:1px solid darkslateblue;
    border-radius: 10px;
    background-color: rgb(157, 204, 243);
    box-shadow: 6px 6px darkblue;
}

#menuPrincipal {
    font-weight: bolder;
    font-size: 16px;
    font-style: italic;
    list-style-type: none;
    margin: 4px;
    padding: 10px;
}

#MenuSecundario {
    font-size: 14px;
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
}

#MenuSecundario li {
    font-size: 12px;
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#contenido {
    float: right;
    width: 77%;
    margin: 4px;
    padding: 10px;
    border:1px solid darkslateblue;
    border-radius: 10px;
    background-color: rgb(203, 229, 250);
    box-shadow: 6px 6px rgb(92, 92, 243);
}

footer{
    padding: 10px;
    border:1px solid darkslateblue;
    border-radius: 10px;
    background-color: rgb(157, 204, 243);
    box-shadow: 2px 2px rgb(107, 154, 193);
    width: 100%;
    bottom: 0;
    position: fixed;
}

a {
    text-decoration: none;  
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: rgb(73, 22, 6);
}

/* mouse over link */
a:hover {
    color: rgb(15, 83, 26);
}

/* selected link */
a:active {
    color: blue;
}

button {
    width:90%;
}

#login{
    background-color: darkslateblue;
    box-shadow: 2px 2px rgb(5, 5, 20);
    width: 100%;   
    height: 2%;
}

#login p {
    margin-bottom: 0px;
}

.navbar-text{
    color: seashell;
}

a:hover .navbar-link {
    color: seashell;
}